<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>photo-sharing-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BF80C091D6D4F6E0052A78D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF80C201D6D4F6F0052A78D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BF80C2B1D6D4F6F0052A78D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
